{% extends 'security/layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_LOGIN_ADMIN') %}
        <script>
            document.location.href="{{ path('admin_dashboard') }}"
        </script>
    {% endif %}
    {% if authenticationError %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ authenticationError }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form class="form-signin" action="{{ path("2fa_login_check") }}" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ asset('images/admin/logo.png') }}" alt="logo" width="50" height="50">
        </div>
        <div class="form-label-group">
            <input type="text" id="_auth_code" class="form-control" autocomplete="off" name="{{ authCodeParameterName }}" placeholder="{{ "admin.common.auth_code.title"|trans({}, 'app') }}" />
            <label for="inputEmail">{{ 'admin.common.auth_code.title'|trans({}, 'app') }}</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'admin.common.login.title'|trans({}, 'app') }}</button>
        <div class="form-group">
            <a class="black-link" href="{{ path("_security_logout") }}">{{ "admin.common.cancel.title"|trans({}, 'app') }}</a>
        </div>
    </form>
{% endblock %}
