{% extends 'security/layout.html.twig' %}

{% block content %}

    {% if is_granted('ROLE_LOGIN_ADMIN') %}
        <script>
            document.location.href="{{ path('admin_dashboard') }}"
        </script>
    {% endif %}
    {% if authenticationError %}
        <div class="alert alert-danger">{{ authenticationError }}</div>
    {% endif %}
    <div class="container">
        <div class="col-md-5 col-md-offset-3">
            <h1 id="login-img">
                <img src={{ asset('images/admin/logo.png') }} />
            </h1>
            <form action="{{ path("2fa_login_check") }}" method="post" role="form" id="login">
                <div class="form-group">
                    <input type="text" id="_auth_code" class="inputlogin form-control password" autocomplete="off" name="{{ authCodeParameterName }}" placeholder="{{ "admin.common.auth_code.title"|trans({}, 'app') }}" />
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}" />
                <button type="submit" class="btn btn-login">{{ 'admin.common.login.title'|trans({}, 'app') }}</button>
                <div class="form-group">
                    <a class="black-link" href="{{ path("_security_logout") }}">{{ "admin.common.cancel.title"|trans({}, 'app') }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
