{% extends "admin/layout.html.twig" %}

{% block title %}{{ ('admin.' ~ title ~ '.title.' ~ type)|trans({}, 'app') }}{% endblock %}
{% block mainTitle %}
    {{ ('admin.' ~ title ~ '.title.' ~ type)|trans({}, 'app') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                    {{ form_widget(form) }}
                <button class="btn btn-info btn-save">
                    <i class="fa fa-save"></i> {{ ('admin.common.' ~ type ~ '.button')|trans({}, 'app') }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
