{% extends "admin/layout.html.twig" %}

{% block title %}{{ ('admin.' ~ type ~ '.list.title')|trans({}, 'app') }}{% endblock %}
{% block mainTitle %}{{ ('admin.' ~ type ~ '.list.title')|trans({}, 'app') }}{% endblock %}

{% block options %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn  btn-outline-secondary btn-search-open">
                <i class="fa fa-search "></i>{{ 'admin.common.search.button'|trans({}, 'app') }}
            </button>
            <a class="btn-success btn" href="{{ path('admin_' ~ type ~ '_create') }}">
                <i class="fa fa-plus "></i>{{ 'admin.common.new.button'|trans({}, 'app') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% include "admin/common/parts/search.html.twig" %}
        <div class="col-md-12 col-sm-12">
            <div class="table-app">
                <table class="table no-margin-botton table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="cansort {% if pagination.isSorted('u.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'admin.common.form.name'|trans({}, 'app'), 'u.name') }} {% if pagination.isSorted('u.name') %} <i class="fa fa-sort-{{ pagination.getDirection() }} pull-right"></i>{% endif %}</th>
                        <th>{{ 'admin.common.actions'|trans({}, 'app') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content in pagination %}
                        <tr>
                            <td><a href="{{ path('admin_' ~ type ~ '_edit', {'id': content.id}) }}">{{ content.name }}</a></td>
                            <td>
                                <a href="{{ path('admin_' ~ type ~ '_edit', {'id': content.id}) }}" class="btn btn-outline-secondary">
                                    <i class="fa fa-edit"></i> {{ 'admin.common.update.button'|trans({}, 'app') }}
                                </a>
                                <a href="{{ path('admin_' ~ type ~ '_delete', {'id': content.id}) }}" class="btn btn-danger delete-button">
                                    <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i> {{ 'admin.common.delete.button'|trans({}, 'app') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="table-footer">
                    {% if pagination|length <= 0 %}
                        {{ 'admin.common.no_data.title'|trans({}, 'app') }}
                    {% endif %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'admin/parts/sliding.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
