{% spaceless %}
    <nav class="navbar navbar-default" id="mainNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link page-scroll" href="#profile">{{ 'app.title.presentation'|trans({}, 'app') }}</a></li>
                <li class="nav-item"><a class="nav-link page-scroll" href="#experiences">{{ 'app.title.xp'|trans({}, 'app') }}</a></li>
                <li class="nav-item"><a class="nav-link page-scroll" href="#abilities">{{ 'app.title.abilities'|trans({}, 'app') }}</a></li>
                <li class="nav-item"><a class="nav-link page-scroll" href="#projects">{{ 'app.title.project'|trans({}, 'app') }}</a></li>
                <li class="nav-item"><a class="nav-link page-scroll" href="#contact">{{ 'app.title.contact'|trans({}, 'app') }}</a></li>
                <li class="hidden-xs"><a href="{{ path('download_pdf') }}">{{ 'app.title.download'|trans({}, 'app') }}</a></li>
                {% include "front/content/parts/languages.html.twig" %}
            </ul>
        </div>
    </nav>
{% endspaceless %}
