{% spaceless %}
    <title>{{ person.metaTitle }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="8vhqOsR5IAGpNPmlScrFqonGp3cbvD49WGmSfD1ojfk" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/front/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/front/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/front/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/front/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/front/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/front/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/front/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/front/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('images/front/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ asset('images/front/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('images/front/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('images/front/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('images/front/favicon-128.png') }}" sizes="128x128" />
    <meta name="description" content="{{ person.metaDescription }}">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="referrer" content="origin">
    <meta property="og:title" content="{{ person.metaTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lucasimonin.me" />
    {% if person.picture is not null %}
        <meta property="og:image" content="{{ absolute_url(asset('uploads/media/' ~ person.picture.fileName)) }}" />
        <meta name="twitter:image" content="{{ absolute_url(asset('uploads/media/' ~ person.picture.fileName)) }}" />
    {% endif %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@lsimonin2" />
    <meta name="twitter:title" content="{{ person.metaTitle }}" />
    <meta name="twitter:description" content="{{ person.metaDescription }}" />

    <meta name="twitter:image:alt" content="Profile" />
    {% include "front/content/parts/hreflang.html.twig" %}
    <link rel="alternate" href="{{ app.request.uri }}" hreflang="x-default" />
    <meta name="application-name" content="Lucas SIMONIN CV"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ asset('images/front/mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ asset('images/front/mstile-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ asset('images/front/mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset('images/front/mstile-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ asset('images/front/mstile-310x310.png') }}" />
    <meta name="author" content="Lucas SIMONIN">
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Lucas SIMONIN",
  "url": "https://lucasimonin.me",
  "gender": "Male",
  "jobTitle": "Freelance & Engineer IT",
  "sameAs": [
    "https://twitter.com/lsimonin2",
    "https://www.linkedin.com/in/lucas-simonin-1473ab60/",
    "https://www.instagram.com/lucas.simonin/"
  ]
}
    </script>
{% endspaceless %}
