{% extends 'knp_menu.html.twig' %}

{% block root %}
<nav id="main-menu" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {{ block('list') }}
        </ul>
    </div>
</nav>
{% endblock %}

{% block list %}
    {% for item in item.children %}
        {{ block('item') }}
    {% endfor %}
{% endblock %}

{% block item %}
    <li class="nav-item">
        <a class="nav-link {% if matcher.isCurrent(item) %}active{% endif %}" href="{{ item.uri }}">
            {{ block('icon') }}
            {{ item.label|trans({}, 'app') }} {% if matcher.isCurrent(item) %}<span class="sr-only">(current)</span>{% endif %}
        </a>
    </li>
{% endblock %}

{% block icon %}
    {% set icon = item.labelAttribute('icon') %}
    {% if icon %}
        <i class="{{ icon }}"></i>
    {% endif %}
{% endblock %}

