{% use "bootstrap_base_layout.html.twig" %}

{% block _job_thematics_entry_subThematics_widget %}
<ul class="collections subcollections" id="{{ form.vars.id }}" data-prototype="{{ form_widget(prototype)|e('html_attr') }}" data-limit="{{ limit }}">
</ul>
{% endblock %}
{% block _slider_presentation_content_presentations_entry_contents_widget %}
    <ul class="collections subcollections" id="{{ form.vars.id }}" data-prototype="{{ form_widget(prototype)|e('html_attr') }}" data-limit="{{ limit }}">
        {% for child in form %}
            <li>
                {{ form_row(child) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block _slider_faq_faqs_entry_row %}
    {% include 'admin/collection_drag_drop.html.twig' with {'id': form.vars.id, 'attributes': [form.textQuestion, form.subtitle, form.textAnswer], 'label_collection': 'admin.component.collection_faq.label.collection' } %}
{% endblock %}



{# Widgets #}
{%- block choice_widget_expanded -%}
    {% if checkbox_button %}
        {{- block('form_checkbox_button') -}}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            {% endfor -%}
        </div>
    {% endif %}
{%- endblock choice_widget_expanded -%}

{%- block form_checkbox_button -%}
    <div class="form-group" id="form-button">
        <div class="btn-group" data-toggle="buttons">
            {%- for child in form %}
                <label class="btn btn-lg well {% if child.vars.checked %}active{% endif %}" for="{{ child.vars.id }}">
                    {% if flag_icon %}
                        {% if child.vars.value == '0' %}
                            <span class=" px-nav-icon option-locale ion-android-globe"></span>
                        {% else %}
                            <span class="flag-icon flag-icon-{% if child.vars.value == 'en' %}gb{% else %}{{ child.vars.value }}{% endif %}"></span>
                        {% endif %}
                    {% endif %}
                    <input type="radio" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %}>
                    {% if flag_icon %}
                        {{ child.vars.label|trans({}, choice_translation_domain) }}
                    {% else %}
                        <img src="{{ asset('assets/front/images/menu/' ~ child.vars.label) }}" />
                    {% endif %}
                </label>
            {% endfor -%}
        </div>
    </div>
{%- endblock -%}

{%- block form_collection -%}
    <ul class="collections {% if attr.class is defined %}{{ attr.class }}{% endif %} {% if dragdrop %}drag-drop{% endif %}" data-index="{{ form.children|length }}" data-limit="{{ limit }}" {{ block('widget_container_attributes') }}>
        {% for child in form.children %}
            <li>
                {% if dragdrop %}
                    <div class="accordion-dragdrop" id="accordion_{{ child.vars.id }}_{{ loop.index }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  class="link-collapse {% if child.vars.valid %}collapsed{% endif %}" data-parent="#accordion_{{ child.vars.id }}_{{ loop.index }}" href="#collapse_{{ child.vars.id }}_{{ loop.index }}">{% if attr.label_collection is not defined %}{{ 'admin.collection.block.label'|trans({}, 'app') }}{% else %}{{ attr.label_collection|trans({}, 'app') }}{% endif %}</a>
                                </h4>
                            </div>
                            <div id="collapse_{{ child.vars.id }}_{{ loop.index }}" class="panel-collapse collapse {% if not child.vars.valid %}in{% endif %}">
                                <div class="panel-body">
                                    {{- form_widget(child) -}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{- form_widget(child) -}}
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{%- endblock -%}

{% block form_widget_simple -%}

    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{%- block form_image_row -%}
    <div class="form-group">
        {{ form_label(form) }}
        <div class="row">
            <div class="col-sm-12">
                <div data-accepted="{{ accepted }}" data-ratio="{% if ratio %}{{ ratio }}{% endif %}" class="dropzone-box {% if form.vars['value'] is not empty %}dz-clickable dz-started dz-max-files-reached{% endif %}" style="text-align:center">
                    <div class="dz-default dz-message" style="padding-left: 0;">
                        <i class="fa fa-cloud-upload"></i>
                        {{ 'admin.put_file_here'|trans({}, 'app') }}
                    </div>
                    {% if form.vars['value'] is not empty %}
                        <div class="dz-preview dz-processing dz-image-preview dz-success">
                            <div class="dz-details">
                                <div class="dz-thumbnail-wrapper">
                                    <div class="dz-thumbnail">

                                        {% if accepted and accepted != 'image/*'  %}
                                            <img style="max-height: 100px;" src="{{ asset('/images/admin/pdf_icon.png') }}" /><br/>
                                            <a class="dz-nopreview" style="position: relative;top: -6px;display: block;" href="{{ path('media_view', {id: form.vars['value']}) }}" target="_blank">{{ 'admin.see_file'|trans({}, 'app') }}</a>
                                        {%  else %}
                                            <img data-dz-thumbnail="" src="{{ path('media_view', {id: form.vars['value']}) }}">
                                            <span class="dz-nopreview">{{ 'admin.no_preview'|trans({}, 'app') }}</span>
                                        {%  endif %}

                                    </div>
                                </div>
                            </div>
                            <a class="dz-update-app" href="{{ path('image_seo', {'id': form.vars['value']}) }}"><i class="fa fa-cogs"></i> {{ 'admin.common.seo'|trans({}, 'app')|upper }}</a>
                            <a class="dz-remove dz-remove" href="#" data-dz-remove=""><i class="fa fa-times"></i> {{ 'admin.delete_file'|trans({}, 'app') }}</a>
                        </div>
                    {% endif %}
                    {{ form_widget(form, { 'attr': {'class': 'input-dropzone', 'data-id': form.vars['value']} }) }}
                </div>
            </div>
        </div>
    </div>
{%- endblock form_image_row -%}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple and not_real_multiple is defined and not not_real_multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{% block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget %}

{% block money_widget -%}
    {% set prepend = not (money_pattern starts with '{{') %}
    {% set append = not (money_pattern ends with '}}') %}
    {% if prepend or append %}
        <div class="input-group">
            {% if prepend %}
                <span class="input-group-addon">{{ money_pattern|form_encode_currency }}</span>
            {% endif %}
            {{- block('form_widget_simple') -}}
            {% if append %}
                <span class="input-group-addon">{{ money_pattern|form_encode_currency }}</span>
            {% endif %}
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock money_widget %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% else -%}
        <div class="checkbox">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {%- endif -%}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- if 'radio-inline' in parent_label_class -%}
        {{- form_label(form, null, { widget: parent() }) -}}
    {%- else -%}
        <div class="radio">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
    {%- endif -%}
{%- endblock radio_widget %}

{%- block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {% if collection is defined and collection %}
        {{- block('form_collection') -}}
    {% else %}
        {{- block('form_widget') -}}
    {% endif %}
{%- endblock collection_widget -%}

{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label|raw -}}
        {%- else -%}
            {{- label|trans({}, translation_domain)|raw -}}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label %}

{% block choice_label -%}
    {# remove the checkbox-inline and radio-inline class, it's only useful for embed labels #}
    {%- set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
    {{- block('form_label') -}}
{% endblock %}

{% block checkbox_label -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}

    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}

    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block checkbox_radio_label -%}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {%- if widget is defined -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
    {% if image_input %}
        {{- block('form_image_row') -}}
    {% else %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% endif %}
{%- endblock form_row %}



{% block button_row -%}
    <div class="form-group">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block choice_row -%}
    {{- block('form_row') }}
{%- endblock choice_row %}

{% block date_row -%}
    {{- block('form_row') }}
{%- endblock date_row %}

{% block time_row -%}
    {{- block('form_row') }}
{%- endblock time_row %}

{% block datetime_row -%}
    {{- block('form_row') }}
{%- endblock datetime_row %}

{% block checkbox_row -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form is not rootform %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form is not rootform %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}
