{% spaceless %}
    <div class="experience row {% if not pdf %}wow fadeInLeft{% endif %}">
        <div class="col-md-4">
            <h4>{{ item.name }}</h4>
            <p class="experience-period">
                <i class="fa fa-clock-o"></i>
                {{ item.duration }}
            </p>
        </div>
        <div class="col-md-8">
            <p>
                <strong>{{ item.title }}</strong>
            </p>
            {% if item.description is not empty %}
                {{ item.description|raw }}
            {% endif %}
            {% if item.city is not empty or item.url is not empty %}
                <p class="experience-details">
                    {% if item.city is not empty %}
                        <span class="location">
                            <i class="fa fa-map-marker"></i>
                            {{ item.city }}
                        </span>
                    {% endif %}
                    {% if item.city is not empty and item.url is not empty %}
                        <span class="seperator">|</span>
                    {% endif %}
                    {% if item.url is not empty %}
                        <span class="link">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <a rel="nofollow" href="{{ item.url }}" target="_blank">{{ item.url }}</a>
                        </span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
