{% spaceless %}
    <div class="{% if not pdf %}bg-grey{% endif %}">
        <section id="experiences" class="container{% if pdf %}-pdf{% endif %}">
            <h2>{{ 'app.title.xp'|trans({}, 'app') }}</h2>
            {% if not pdf %}
                <p class="lead">
                    “{{ 'app.quote.xp'|trans({}, 'app') }}”<br>- {{ 'app.quote.xp.author'|trans({}, 'app') }}
                </p>
            {% endif %}
            <hr>
            <h3>{{ 'app.title.education'|trans({}, 'app') }}</h3>
                {% set experiences_block, educations_block = '', '' %}
                {% for item in xps %}
                    {% if item.type == 'education' %}
                        {% set educations_block %}
                            {{ educations_block }}
                            {% include 'front/content/parts/experience.html.twig' with {'item': item} %}
                        {% endset %}
                    {% else %}
                        {% set experiences_block %}
                            {{ experiences_block }}
                            {% include 'front/content/parts/experience.html.twig' with {'item': item} %}
                        {% endset %}
                    {% endif %}
                {% endfor %}
            <div class="experiences">
                {{ educations_block }}
            </div>
            <hr class="print-margin-top">
            <h3>{{ 'app.title.career'|trans({}, 'app') }}</h3>
            <div class="experiences">
                {{ experiences_block }}
            </div>
        </section>
    </div>
{% endspaceless %}
