{% spaceless %}
    <section id="abilities" class="container wow fadeInUp">
        <h2>{{ 'app.title.abilities'|trans({}, 'app') }}</h2>
        <p class="lead">
            “{{ 'app.quote.skill'|trans({}, 'app') }}”<br>- {{ 'app.quote.skill.author'|trans({}, 'app') }}
        </p>
        <hr>
        <h3>{{ 'app.title.skill'|trans({}, 'app') }}</h3>
        <div class="row">
            {% include 'front/content/parts/skill.html.twig' with {'items': skills} %}
        </div>
        <hr>
        <h3>{{ 'app.title.language'|trans({}, 'app') }}</h3>
        <div class="row">
            {% include 'front/content/parts/skill.html.twig' with {'items': languages} %}
        </div>
        <hr>
        <h3>{{ 'app.title.tools'|trans({}, 'app') }}</h3>
        <div class="row">
            {% include 'front/content/parts/skill.html.twig' with {'items': tools} %}
        </div>
        <hr>
        <h3>{{ 'app.title.others'|trans({}, 'app') }}</h3>
        <div class="row margin-icon">
            <div class="col-md-2 col-xs-4 margin-bt-mobile">
                <i class="fa fa-lightbulb-o fa-orange fa-3x"></i><br/>
                {{ 'app.skill.creative'|trans({}, 'app') }}
            </div>
            <div class="col-md-2 col-xs-4 margin-bt-mobile">
                <i class="fa fa-users fa-green fa-3x"></i><br/>
                {{ 'app.skill.team'|trans({}, 'app') }}
            </div>
            <div class="col-md-2 col-xs-4 margin-bt-mobile">
                <i class="fa fa-heart fa-red fa-3x"></i><br/>
                {{ 'app.skill.passion'|trans({}, 'app') }}
            </div>
            <div class="col-md-2 col-xs-4">
                <i class="fa fa-laptop fa-3x"></i><br/>
                {{ 'app.skill.web'|trans({}, 'app') }}
            </div>
            <div class="col-md-2 col-xs-4">
                <i class="fa fa-globe fa-blue fa-3x"></i><br/>
                {{ 'app.skill.travel'|trans({}, 'app') }}
            </div>
            <div class="col-md-2 col-xs-4">
                <i class="fa fa-trophy fa-orange fa-3x"></i><br/>
                {{ 'app.skill.sport'|trans({}, 'app') }}
            </div>
        </div>
    </section>
{% endspaceless %}
