{% spaceless %}
    {% if works|length > 0 %}
        <div class="bg-grey print-margin-top">
            <section id="projects" class="container">
                <h2>{{ 'app.title.project'|trans({}, 'app') }}</h2>
                <p class="lead">
                    “{{ 'app.quote.project'|trans({}, 'app') }}”<br>- {{ 'app.quote.project.author'|trans({}, 'app') }}
                </p>
                <hr>
                <div class="row">
                    {% for work in works %}
                        <div class="col-md-6 col-sm-12 col-12 wow fadeInUp">
                            <figure class="effect">
                                <img src="{{ asset('uploads/media/' ~ work.picture.fileName) }}" alt="{{ work.picture.alt }}" />
                                <figcaption>
                                    <h3>{{ work.name }}</h3>
                                    <div class="description">
                                        {{ work.description|raw }}
                                    </div>
                                    <p>
                                        <strong>{{ 'app.common.tags'|trans({}, 'app') }}:</strong>
                                        <br>
                                        {{ work.tags|raw }}
                                    </p>
                                    <p class="visible-print-block">{{ work.url }}</p>
                                    <a rel="external" href="{{ work.url }}" target="_blank">{{ 'app.show_more'|trans({}, 'app') }}</a>
                                    <span class="icon">
                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endif %}
{% endspaceless %}
