<form action="" class="form-horizontal" method="get" enctype="multipart/form-data" novalidate >
    {{ form_errors(form.firstName) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.firstName, "admin.user.form.firstname", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'admin.user.form.search.firstname'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.lastName) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.lastName, "admin.user.form.lastname", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'admin.user.form.search.lastname'} }) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.email) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.email, "admin.user.form.email", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'admin.user.form.search.email'} }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="{{ 'admin.common.search.button'|trans({}, 'app') }}">
        </div>
    </div>
</form>
